/*
 * COMP 333 Software Engineering (Dr. Sebastian Zimmeck) - Assgiment 2
 * Authors: Luke Morrill, Noah Hartzfeld, Henry Yang
 * ==========================================================================
 */


/*
 * Macros to import pixel-styled fonts
 */
@font-face {
  font-family: 'pixel_04b03';
  src: url(assets/04B03REV.TTF);
  font-weight: normal;
  font-size: normal
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");

/* Make scroll bar always visible */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body {
  background: #cbc0d3;
}

/* Container Styling */
.container {
  margin: auto;
  width: 350px;
  height: 550px;
  position: relative;
}

.box {
  background: #f6f6f6;
  width: 350px;
  height: 500px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.box-child1 {
  display: block;
  position: relative;
  top: 3%;
  height: 50%;
  text-align: center;
}

.box-child2 {
  display: block;
  position: relative;
  top: 4%;
  height: 50%;
  text-align: center;
}

.sql-query {
  position: relative;
  width: 70%;
  height: 15%;
  margin: 0 auto;
  overflow-y: scroll;
}

.msg-info, .msg-success, .msg-warning, .msg-error {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
  margin: 0px;
  padding: 12px;
}
.msg-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg-error {
    color: #D8000C;
    background-color: #FFD2D2;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* font and button styling */
h1 {
  font-family: Impact, Haettenschweiler,
  "Franklin Gothic Bold", Charcoal,
  "Helvetica Inserat", "Bitstream Vera Sans Bold",
  "Arial Black", "sans serif";
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  color: #f6f6f6;
  font-size: 2em;
  letter-spacing: 10px;
}

.title {
  font-family: Consolas, monaco, monospace;
  color: #8e9aaf;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  margin-bottom: 5%;
}

.desc {
  margin-top: -8px;
}

.account {
  margin-top: 45%;
  font-size: 10px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: #8e9aaf;
  text-align: center;
  overflow-y: scroll;
}

span {
  color: #eac7cc;
}

button {
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
}

button:hover {
  background: #eac7cc;
  color: #f6f6f6;
  transition: background-color 1s ease-out;
}

.button {
  margin-top: 3%;
  background: #f6f6f6;
  color: #ce7d88;
  border: solid 1px #eac7cc;
}

/* form styling */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.more-padding {
  padding-top: 35px;
}

.more-padding input {
  padding: 12px;
}

.more-padding .submit {
  margin-top: 45px;
}

.submit {
  margin-top: 25px;
  padding: 12px;
  border-color: #ce7d88;
}

.submit:hover {
  background: #cbc0d3;
  border-color: #bfb1c9;
}

input {
  background: #eac7cc;
  width: 65%;
  color: #ce7d88;
  border: none;
  border-bottom: 1px solid rgba(246, 246, 246, 0.5);
  padding: 9px;
  font-weight: 100;
}

input::placeholder {
  color: #f6f6f6;
  letter-spacing: 2px;
  font-size: 1.0em;
  font-weight: 100;
}

input:focus {
  color: #ce7d88;
  outline: none;
}

input:focus::placeholder {
  opacity: 0;
}

label {
  font-family: "Open Sans", sans-serif;
  color: #ce7d88;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -52px;
  top: 25px;
}

input[type=checkbox] {
  width: 15px;
  background: #ce7d88;
}

.checkbox input[type=checkbox]:checked + label {
  color: #ce7d88;
  transition: 0.5s all ease;
}
