
@font-face {
    font-family: 'pixel_04b03';
    src: url(assets/04B03REV.TTF);
    font-weight: normal;
    font-size: normal
  }
@font-face {
    font-family: 'pixel_highlight';
    src: url(assets/04B_30_.TTF);
    font-weight: normal;
    font-size: normal
  }
  
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");
  

body {
    background-color: #cbc0d3;
}

#register_user {
    text-align: center;
}

#reg_title {
    text-align: center;
    color: white;
}

.register_box{
    text-align: center;
    margin:auto;
    background: #eac7cc;
    width: 30%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.register_button{
    padding: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
    margin-top: 3%;
    background: #f6f6f6;
    color: #ce7d88;
    border: solid 1px #eac7cc;
}