{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'music_app/styles.css' %}">
<html lang = "en">
    <body>
        <div class="register_box">
            <h1 id="reg_title"> REGISTER</h1>
            <div id="register_user">
                <form method = "POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type ="submit" value = "Create Account" class="register_button"/>

                </form>
            </div>
        </div>

</body>
</html>


    