{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'music_app/styles.css' %}">
<html lang = "en">
    <body>
        <div class="register_box">
            <h1 id="reg_title"> REGISTER</h1>
            <div id="register_user">
                <form method = "POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type ="submit" value = "Create Account" class="register_button" name="register"/>

                </form>

                <form method = "POST"> {% csrf_token %}
                    {{ form2.as_p }}
                    <input type ="submit" value = "Save" name="get_songs"/>
            
                </form>
                <div class = "songs">
                    {% for ratings in ratings_list %}
                    <div class = "songs">
                        <h2> {{ ratings.song }}</h2>
                        <h2> {{ ratings.rating }}</h2>
        
                    </div>
        
                    {% endfor %}
                </div>
            </div>
        </div>

</body>
</html>


    